<template>
  <div class="py-10 px-sm-0 cuenta_container">
    <v-overlay v-if="overlay" z-index="1000">
      <v-progress-circular
        indeterminate
        size="80"
        color="secondary"
      ></v-progress-circular>
    </v-overlay>

    <v-card width="100%">
      <v-card-title>
        Mis Dispositivos
      </v-card-title>

      <v-divider />

      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="arrayDevices"
          :loading="loading"
          no-data-text="No posee dispositivos vinculados."
          :footer-props="{
            itemsPerPageText: 'Dispositivos por página:',
            itemsPerPageAllText: 'Todos'
          }"
        >
          <template v-slot:item.actions="{ item }">
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-icon color="error" class="font-weight-bold" small v-on="on" @click.stop="securityCheck(item)">
                  mdi-close
                </v-icon>
              </template>
              <span>
                Eliminar
              </span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>

    <security-alert :dialog.sync="security" :id="id_item" @eliminar="eliminar" />

    <v-snackbar
      v-model="snackbar"
      :timeout="3000"
      right
      top
      color="success"
      elevation="24"
    >
      {{ message }}
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SecurityAlert from './SecurityAlert'

export default {
  name: 'Dispositivos',
  components: { SecurityAlert },
  computed: {
    ...mapGetters('customer', ['devices'])
  },
  data() {
    return {
      headers: [
        { text: 'ID de Dispositivo', align: 'start', value: 'deviceId' },
        { text: 'MAC', align: 'center', sortable: false, value: 'macAddress' },
        { text: 'Nombre', align: 'center', sortable: false, value: 'deviceName' },
        { text: '', value: 'actions', sortable: false }
      ],
      dummy: [],
      arrayDevices: [],
      loading: false,
      security: false,
      id_item: '',
      message: '',
      snackbar: false,
      overlay: false
    }
  },
  created() {
    this.arrayDevices = this.devices
  },
  methods: {
    securityCheck(item) {
      this.id_item = item.deviceId
      this.security = true
    },
    async eliminar() {
      this.overlay = true
      await this.$axios.post(`${process.env.baseURL}/devices.php`, { id: this.id_item })
        .then(res => {
          this.arrayDevices = this.arrayDevices.filter(device => device.deviceId !== this.id_item)
          this.$store.dispatch('customer/deleteDevice', this.arrayDevices)
          this.snackbar = true,
          this.message = 'Dispositivo eliminado correctamente'
        })
        .catch(err => {
          this.snackbar = true,
          this.message = 'Ocurrio un error, por favor intente nuevamente.'
        })
      this.overlay = false
    }
  },
  beforeCreate() {
    this.loading = true
  }
}
</script>
