<template>
  <div :class="[edit ? '' : 'px-5 ', 'py-10 px-sm-0 cuenta_container']">
    <v-card width="100%">
      <v-card-title>
        <span class="text-h5 pb-5 pb-sm-0">
          Datos de mi cuenta
        </span>

        <v-spacer />

        <v-btn text color="primary" class="text-capitalize text-subtitle-2 px-0 px-sm-2" @click="edit = !edit">
          Cambiar correo electrónico
        </v-btn>
        <v-btn text color="primary" class="text-capitalize text-subtitle-2 px-0 px-sm-2" @click="redirectCambiarPass()">
          Cambiar contraseña
        </v-btn>
      </v-card-title>

      <v-divider />

      <v-card-text v-if="!edit">

        <v-list>

          <v-list-item v-for="(item, index) in datos" :key="index" two-line>
            <v-list-item-content>
              <v-list-item-title class="font-weight-light text-body-2">
                {{ item.nombre }}
              </v-list-item-title>

              <v-list-item-subtitle class="font-weight-bold black--text text-h6">
                {{ item.valor }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

        </v-list>

      </v-card-text>

      <v-card-text v-else>
        <v-list>
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="font-weight-light text-body-2">
                Email
              </v-list-item-title>
              <v-list-item-subtitle class="font-weight-bold black--text text-h6 pt-2">
                <v-text-field
                  v-model="new_email"
                  outlined
                  dense
                ></v-text-field>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-text>
      
      <v-card-actions v-if="edit" class="d-flex justify-end">
        <v-btn outlined color="primary" class="text-capitalize text-subtitle-2" width="100" @click="cancelEdition()">
          Cancelar
        </v-btn>
        <v-btn color="primary" class="elevation-0 text-capitalize text-subtitle-2" :loading="loading" width="100" @click="saveEdition()">
          Guardar
        </v-btn>
      </v-card-actions>
    </v-card>
    
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      right
      top
      :color="color"
      elevation="24"
    >
      <span class="font-weight-bold">
        {{ message }}
      </span>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'MiCuenta',
  data() {
    return {
      datos: [
        { nombre: 'Nombre de usuario CCCGO', valor: this.customer().customerId ? `CCC${this.customer().customerId.slice(3, this.customer().customerId.length)}` : 'Sin id' },
        { nombre: 'Nombre y Apellido', valor: `${this.firstName()} ${this.middleName()} ${this.lastName()}` },
        { nombre: 'Direccion', valor: this.direccion() },
        { nombre: 'Email', valor: this.info().email ? this.info().email : 'Sin email' },
        { nombre: 'Teléfono', valor: this.phone() }
      ],
      loading: false,
      edit: false,
      new_email: this.info().email ? this.info().email : '',
      color: '',
      snackbar: false,
      timeout: 3000,
      message: '',
    }
  },
  methods: {
    customer() {
      return this.$auth.user ? this.$auth.user.customer : ''
    },
    account() {
      return this.$auth.user ? this.$auth.user.customerAccount : ''
    },
    info() {
      return this.$auth.user ? this.$auth.user.customerInfo : ''
    },
    firstName() {
      return this.customer().firstName ? this.customer().firstName : ''
    },
    middleName() {
      return this.customer().middleName ? this.customer().middleName : ''
    },
    lastName() {
      return this.customer().lastName ? this.customer().lastName : ''
    },
    direccion() {
      const address = this.info().address1 ? this.info().address1 : this.info().address2 ? this.info().address2 : this.info().address3 ? this.info().address3 : 'Sin dirección'
      const city = this.info().city ? this.info().city : 'Sin ciudad'
      const zipCode = this.info().zipcode ? this.info().zipcode : ''
      const state = this.info().state ? this.info().state : ''

      return `${address}, ${city} ${zipCode} ${state}`
    },
    phone() {
      return this.info().mobilePhone ? this.info().mobilePhone : this.info().homePhone ? this.info().homePhone : this.info().workPhone ? this.info().workPhone : 'Sin telefono'
    },
    redirectCambiarPass() {
      this.$router.push('/cuenta/cambiar_password')
    },
    cancelEdition() {
      this.new_email = this.info().email ? this.info().email : ''
      this.edit = false
    },
    showSnackbar(body, color, timeout) {
      this.snackbar = true
      this.color = color
      this.message = body
      this.timeout = timeout
    },
    async saveEdition() {
      this.loading = true
      const data = {
        user: this.$auth.user.customer.customerId,
        new_email: this.new_email
      }
      await this.$axios.post(`${process.env.baseURL}/cambiar_email.php`, data).then(res => {
        if (res.data.statusMessage === `Customer ${this.$auth.user.customer.customerId} updated successfully.`) {
          this.$router.go(`/cuenta/${this.$auth.user.customer.customerId}`)
        } else {
          this.showSnackbar('Ocurrio un problema, por favor intente nuevamente.', 'error', 3000)
        }
      })
      this.loading = false
    }
  }
}
</script>
