<template>
  <v-dialog v-model="dialog" :width="$vuetify.breakpoint.xsOnly ? '100%' : '360px'">
    <v-card class="mx-auto" :width="$vuetify.breakpoint.xsOnly ? '100%' : '360px'">
      <v-card-title class="d-flex justify-center">
        <v-icon color="error" :large="!$vuetify.breakpoint.xsOnly">
          mdi-information
        </v-icon>
      </v-card-title>

      <v-card-text class="d-flex justify-center">
        <span class="text-body-2 text-center">
          ¿Esta seguro que desea eliminar el dispositivo {{ id }}?
        </span>
      </v-card-text>

      <v-card-actions class="d-flex justify-center pb-5">
        <v-btn outlined color="error" class="text-capitalize text-subtitle-2" @click="close()">
          Cancelar
        </v-btn>

        <v-btn class="text-subtitle-2 elevation-0" color="error" @click="eliminar()">
          <span class="text-capitalize">Si,</span>
          <span class="text-lowercase pl-1">eliminar</span>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'SecurityAlert',
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    id: {
      type: Number,
      default: 0
    }
  },
  methods: {
    close() {
      this.$emit('update:dialog', false)
    },
    eliminar() {
      this.$emit('eliminar')
      this.close()
    }
  }
}
</script>