<template>
  <div class="py-10 px-sm-0 cuenta_container">
    <v-card width="100%">
      <v-card-title>
        Mis Servicios
      </v-card-title>

      <v-divider />

      <v-card-text>
        <v-list v-if="servicios.length">
          <v-list-item v-for="(servicio, index) in servicios" :key="index">
            <v-list-item-content class="text-uppercase font-weight-light text-h6">
              {{ servicio.serviceMenu.name.replace(/_/g, ' ') }}
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <p v-else>
          No posee servicios contratados.
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Servicios',
  computed: {
    servicios() {
      return this.$auth.user ? this.$auth.user.subscribeService : [] 
    }
  }
}
</script>

