<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="d-flex justify-center pb-0">
        <span class="font-weight-light white--text">
          {{ `${firstName()} ${lastName()}` }}
        </span>
      </v-col>
      
      <v-divider />

      <v-col cols="12" class="d-flex justify-center">
        <span class="text-h5 white--text font-weight-bold">
          Mi CCCGO
        </span>
      </v-col>
    </v-row>

    <v-row class="d-flex justify-center pt-10">
    
     
      <v-btn v-for="(menuItem, index) in buttons" :key="index" text class="menu_button mx-md-2 mx-0 py-md-10 py-0" @click="changeComponent(menuItem.id)">
        <v-container class="pa-0">
          <v-row no-gutters>
            <v-col cols="12" class="d-flex justify-center">
              <v-icon :color="menuItem.color" :x-large="!$vuetify.breakpoint.xsOnly" :large="$vuetify.breakpoint.xsOnly">
                {{ menuItem.icon }}
              </v-icon>
            </v-col>

            <v-col v-if="!$vuetify.breakpoint.xsOnly" cols="12" class="d-flex justify-center pt-2">
              <span :class="['text-capitalize font-weight-regular white--text font-weight-light pt-1', $vuetify.breakpoint.smOnly ? 'text-caption' : '']">
                {{ menuItem.name }}
              </span>
            </v-col>
          </v-row>
        </v-container>
      </v-btn>

    </v-row>

    <v-row>
      <v-col cols="12" class="d-flex justify-center">
        <mi-cuenta v-if="showComponent === 1" />
        <servicios v-else-if="showComponent === 2" />
        <dispositivos v-else />
      </v-col>
    </v-row> 

  </v-container>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import MiCuenta from '~/components/Shared/MiCuenta'
import Servicios from '~/components/Shared/Servicios'
import Dispositivos from '~/components/Shared/Dispositivos'

export default {
  name: 'Cuenta',
  scrollToTop: true,
  middleware: 'auth',
  async beforeMount() {
    const id = this.$route.params.id
    await this.$store.dispatch('customer/getDevices', id)
  },
  components: { MiCuenta, Servicios, Dispositivos },
  data() {
    return {
      showComponent: 1,
      buttons: [
        {
          id: 1,
          icon: 'mdi-account-circle',
          click: 'test',
          name: 'Mi cuenta',
          color: 'secondary-light',
        },
        /* {
          id: 2,
          icon: 'mdi-play-circle-outline',
          click: 'test',
          name: 'Mis servicios',
          color: 'secondary-light'
        }, */
        {
          id: 3,
          icon: 'mdi-cellphone-android',
          click: 'test',
          name: 'Mis dispositivos',
          color: 'secondary-light'
        }
      ]
    }
  },
  methods: {
    changeComponent(id) {
      this.showComponent = id
    },
    firstName() {
      return this.$auth.user ? this.$auth.user.customer.firstName ? this.$auth.user.customer.firstName : '' : ''
    },
    lastName() {
      return this.$auth.user ? this.$auth.user.customer.lastName ? this.$auth.user.customer.lastName : '' : ''
    }
  }
}
</script>

<style scoped>
@media screen and (min-width: 700px) {
  .menu_button {
    min-width: 200px !important;
  }
}
</style>