<template>
  <div>
    <v-container v-if="!finalStep" class="d-flex justify-center align-center full_container">
      <v-overlay v-if="overlay" z-index="0">
        <v-progress-circular
          indeterminate
          size="80"
          color="white"
        ></v-progress-circular>
      </v-overlay>
      
      <v-card v-else-if="existingUser" class="form_container" flat>
        <v-card-title class="d-flex justify-center px-0">
          <v-icon color="warning" x-large>
            mdi-information-outline
          </v-icon>
        </v-card-title>
        <v-card-text class="d-flex justify-center text-center white--text font-weight-bold text-h6 px-0">
          Este enlace de confirmación ha expirado o tu cuenta ya ha sido confirmada previamente
        </v-card-text>
        <v-card-actions class="d-flex justify-center px-0">
          <v-btn text color="white" @click="$router.push('/')">
            <v-icon color="white" class="pr-1">
              mdi-arrow-left
            </v-icon>
            <span class="text-uppercase text-subtitle-1">
              I
            </span>
            <span class="text-lowercase text-subtitle-1">
              r a Inicio de Sesión
            </span>
          </v-btn>
        </v-card-actions>
      </v-card>
      
      <v-card v-else class="form_container" flat>
        <v-card-title class="white--text pb-15 px-0">
          <v-row no-gutters>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-subtitle-1 font-weight-bold secondary--text">
                Suscripción a CCCGO confirmada!
              </span>
            </v-col>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-subtitle-1 text-center white--text">
                Tu nombre de usuario es:
              </span>
            </v-col>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-h5 text-center font-weight-bold">
                {{ `CCC${decryptedUser}` }}
              </span>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text class="px-0">
          <v-form ref="form" v-model="valid">
            <v-row no-gutters>
              <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  Nueva contraseña
                </span>
              </v-col>
              <v-col cols="12">
                <v-text-field 
                  v-model="password"
                  label="Contraseña"
                  :type="show_password ? 'text' : 'password'"
                  background-color="white"
                  class="rounded-lg"
                  :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                  solo
                  :rules="[rules.required]"
                  @click:append="show_password = !show_password"
                />
              </v-col>
              <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  Repetí tu nueva contraseña
                </span>
              </v-col>
              <v-col cols="12" class="pb-0">
                <v-text-field 
                  v-model="repeat_password"
                  :type="show_password ? 'text' : 'password'"
                  background-color="white"
                  class="rounded-lg"
                  :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required]"
                  solo
                  label="Confirmación"
                  @click:append="show_password = !show_password"
                />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col cols="12" class="d-flex justify-center px-1">
              <v-btn class="px-15 elevation-0 font-weight-bold white--text rounded-lg py-7 text-subtitle-1" block :loading="loading" color="dark-primary" @click="subscribe()">
                <span class="text-capitalize">Continuar</span>
                <span class="text-lowercase pl-1">suscripción</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>

      <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        right
        top
        :color="color"
        elevation="24"
      >
        {{ message }}
      </v-snackbar>
    </v-container>
    <v-container v-else class="d-flex justify-center align-center full_container">
      <v-row>
        <v-col cols="12" class="d-flex justify-center">
          <span class="secondary--text text-h4 font-weight-bold">
            RECORDAR !
          </span>
        </v-col>
        <v-col cols="12" class="d-flex justify-center">
          <span class="white--text text-h5 text-center font-weight-light">
            Este es tu usuario y contraseña para CCCGO
          </span>
        </v-col>
        <!-- Usuario -->
        <v-col cols="12" class="d-flex justify-center pb-0">
          <span class="white--text text-h6 font-weight-bold">
            Usuario:
          </span>
        </v-col>
        <v-col cols="12" class="d-flex justify-center pt-1">
          <span class="white--text text-h4 font-weight-bold">
            {{ `CCC${decryptedUser}` }}
          </span>
        </v-col>
        <!-- Contraseña -->
        <v-col cols="12" class="d-flex justify-center pb-0">
          <span class="white--text text-h6 font-weight-bold">
            Contraseña:
          </span>
        </v-col>
        <v-col cols="12" class="d-flex justify-center pt-1">
          <div v-if="showPassword" class="text_container d-flex align-center justify-center">
            <span class="white--text text-h4 font-weight-bold">
              {{ password }}
            </span>
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-icon class="eye_icon" color="white" v-on="on" @click="showPassword = !showPassword">
                  mdi-eye
                </v-icon>
              </template>
              <span>
                Ocultar contraseña
              </span>
            </v-tooltip>
          </div>
          <div v-else class="text_container d-flex align-center justify-center">
            <span v-for="letter in password.length" :key="letter" class="white--text text-h4 font-weight-light">
              *
            </span>
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-icon class="eye_icon" color="white" v-on="on" @click="showPassword = !showPassword">
                  mdi-eye-off
                </v-icon>
              </template>
              <span>
                Mostrar contraseña
              </span>
            </v-tooltip>
          </div>
        </v-col>
        <v-col cols="12" class="d-flex justify-center pt-7">
          <span class="white--text text-center font-weight-light text-h6">
            Por favor, abrí la app CCCGO e ingresá con estos datos
          </span>
        </v-col>
        <v-col cols="12" class="d-flex justify-center">
          <v-btn class="white--text px-15 elevation-0 rounded-lg py-7 font-weight-bold text-subtitle-1" :loading="loading" color="dark-primary"  @click="sendFinalEmail() " width="300px">
            <span class="text-capitalize">Ir</span>
            <span class="text-lowercase px-1">a</span>
            <span class="text-capitalize">CCCGO</span>
          </v-btn>
        </v-col>
      </v-row> 
    </v-container>
  </div>
</template>

<script>
import CryptoJS from 'crypto-js'

export default {
  name: 'Password',
  data() {
    return {
      finalStep: false,
      snackbar: false,
      message: '',
      color: '',
      overlay: false,
      password: '',
      repeat_password: '',
      show_password: false,
      loading: false,
      valid: '',
      existingUser: false,
      rules: {
        required: value => !!value || 'Campo requerido',
        email: v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Debe ingresar un email válido'
      },
      decryptedText: '',
      separatedText: [],
      decryptedUser: '',
      decryptedMail: '',
      showPassword: false,
      showUser: false
    }
  },
  created() {
    this.decrypt()
    this.overlay = true
  },
  mounted() {
    this.validateUserCreated()
  },
  methods: {
    async validateUserCreated() {
      await this.$axios.post(`${process.env.baseURL}/pontis_user_validate.php`, { usuario: `CCC${this.decryptedUser}` }).then(res => {
        if (res.data.result === null) {
          this.existingUser = false
        } else {
          this.existingUser = true
        }
        this.overlay = false
      })
    },
    async validateUser() {
      await this.$axios.post(`${process.env.baseURL}/pontis_user_validate.php`, { usuario: `CCC${this.decryptedUser}` }).then(res => {
        if (res.data.result === null) {
          return true
        } else {
          return false
        }
      })
    },
    async subscribe() {
      this.loading = true
      if (this.valid) {
        if (this.password === this.repeat_password) {
          if (this.validateUser()) {
            const data = {
              usuario: this.decryptedUser,
              mail: this.decryptedMail,
              password: this.password
            }
            await this.$axios.post(`${process.env.baseURL}/bs/creausu.php`, data).then(res => {
              if (res.data.result === 'success') {
                this.overlay = true
                /* try {
                  const response = this.$auth.loginWith('local', {
                    data: {
                      username: `CCC${this.decryptedUser}`,
                      password: this.password
                    }
                  })
                  if (response.data.error === "Datos incorrectos") {
                    this.showSnackbar('Datos incorrectos. Por favor, intente nuevamente', 'error')
                  } else {
                    this.$router.push(`/cuenta/${this.decryptedUser}`)
                  }         
                } catch (error) {} */
                this.finalStep = true
                this.overlay = false
              } else {
                this.showSnackbar(res.data.message)
              }
            }).catch(err => {
              this.showSnackbar(err)
            })
          } else {
            this.showSnackbar('El usuario ya se encuentra suscripto a CCCGo', 'accent')            
          }
        } else {
          this.showSnackbar('Las contraseñas no coinciden', 'error')
        }
      } else {
        this.showSnackbar('Debe completar los campos correctamente', 'error')
      }
      this.loading = false
    },
    openStore() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'],
          os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'Mac OS';
        window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = 'iOS';
        window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
        window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
      } else if (/Android/.test(userAgent)) {
        os = 'Android';
        /* window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US') */
        window.location.replace('market://details?id=com.viaccc.player&hl=es_419&gl=US')
      } else if (!os && /Linux/.test(platform)) {
        os = 'Linux';
        window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
      }
    },
    async sendFinalEmail() {
      this.loading = true
      const data = {
        user: `CCC${this.decryptedUser}`,
        password: this.password,
        email: this.decryptedMail
      }
      await this.$axios.post(`/email_confirmacion_final.php`, data).then(res => {
        this.openStore()
      }) 
      this.loading = false
    },
    showSnackbar(body, color) {
      this.snackbar = true
      this.color = color
      this.message = body
    },
    decrypt() {
      const hashURL = this.$route.params.hash
      const hashDesarrobado = hashURL.replace('@@@', '/')
      const separatedHash = hashDesarrobado.split(';')

      const ciphertext_hash = separatedHash[0].replace('$$$$$', ';')
      const salt_hash = separatedHash[1].replace('$$$$$', ';')
      const iv_hash = separatedHash[2].replace('$$$$$', ';')

      const passphrase = 'erwin'
      
      var jsonData = {
        ciphertext: ciphertext_hash,
        salt: salt_hash,
        iv: iv_hash
      }
      var encrypted = jsonData.ciphertext
      var salt = CryptoJS.enc.Hex.parse(jsonData.salt)
      var iv = CryptoJS.enc.Hex.parse(jsonData.iv)
      var key = CryptoJS.PBKDF2(passphrase, salt, {
        hasher: CryptoJS.algo.SHA512,
        keySize: 64/8,
        iterations: 999
      })
      var decrypted = CryptoJS.AES.decrypt(encrypted, key, { iv: iv })

      this.decryptedText = decrypted.toString(CryptoJS.enc.Utf8)
      this.separatedText = this.decryptedText.split(';')
      this.decryptedUser = this.separatedText[0]
      this.decryptedMail = this.separatedText[1]
      /* return decrypted.toString(CryptoJS.enc.Utf8) */
    }
  }
}
</script>

<style scoped>
.login_container {
  min-width: 300px;
}
.text_container {
  position: relative;
  min-width: 18.75rem !important;
}
.eye_icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}
</style>