<template>
  <div>
    <v-container v-if="!successAlert" class="d-flex justify-center align-center full_container">
      <v-card class="form_container" flat>
        <v-card-title class="white--text pb-sm-15 pb-10 px-0">
          <v-row no-gutters>
            <v-col cols="12" class="d-flex justify-center pb-2">
              <span class="text-sm-h6 text-subtitle-1 font-weight-bold secondary--text">
                Suscripción a CCCGO
              </span>
            </v-col>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-sm-subtitle-1 text-caption font-weight-regular text-center white--text">
                CCCGO ES UN SERVICIO EXCLUSIVO PARA ABONADOS DE CCC
              </span>
            </v-col>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-sm-subtitle-1 text-caption font-weight-regular text-center white--text">
                Si ya sos abonado de CCC, suscribite ahora ingresando los siguientes datos
              </span>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text class="px-0">
          <v-form ref="form" v-model="valid">
            <v-row no-gutters>
              <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  Nro. abonado de CCC
                </span>
              </v-col>
              <v-col cols="12">
                <v-text-field 
                  v-model="usuario"
                  label="Número de abonado"
                  background-color="white"
                  class="rounded-lg"
                  solo
                  :rules="[rules.required]"
                />
              </v-col>
              <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  DNI del titular
                </span>
              </v-col>
              <v-col cols="12" class="pb-0">
                <v-text-field 
                  v-model="dni"
                  type="number"
                  background-color="white"
                  class="rounded-lg"
                  :rules="[rules.required]"
                  solo
                  label="Nro de DNI"
                />
              </v-col>
              <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  Correo electrónico
                </span>
              </v-col>
              <v-col cols="12" class="pb-0">
                <v-text-field 
                v-model="email"
                type="email"
                background-color="white"
                class="rounded-lg"
                :rules="[rules.required, rules.email]"
                solo
                label="Email"
              />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col cols="12" class="d-flex justify-center px-1">
              <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1" block :loading="loading" color="dark-primary" @click="validatePontis()">
                <span class="text-capitalize">Solicitar</span>
                <span class="text-lowercase pl-1">suscripción</span>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>


      <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        right
        top
        :color="color"
        elevation="24"
      >
        {{ message }}
      </v-snackbar>
    </v-container>

    <v-container v-else class="d-flex justify-center align-center full_container">
      <email-sent body="Te enviamos un email a tu casilla de correo electrónico con instrucciones para confirmar tu suscripción. <br /> <b>Recordá revisar en la carpeta de spam en caso de no encontrarlo.</b>" sent />
    </v-container>
  </div>
</template>

<script>
import EmailSent from '../../components/UI/EmailSent'

export default {
  name: 'Registro',
  components: { EmailSent },
  data() {
    return {
      usuario: '',
      dni: '',
      email: '',
      loading: false,
      snackbar: false,
      message: '',
      color: '',
      successAlert: false,
      valid: '',
      rules: {
        required: value => !!value || 'Campo requerido',
        email: v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Debe ingresar un email válido'
      }
    }
  },
  methods: {
    async validatePontis() {
      if (this.valid) {
        this.loading = true
        await this.$axios.post(`${process.env.baseURL}/pontis_user_validate.php`, { usuario: `CCC${this.usuario}` }).then(res => {
          if (res.data.result === null) {
            this.validateCCC()
          } else {
            this.showSnackbar('Los datos ingresados corresponden a un usuario ya registrado en CCCGO', 'accent')
          }
        }).catch(err => {
          this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
        })
        this.loading = false
      } else {
        this.showSnackbar('Debe completar todos los campos correctamente', 'error')
      }
    },
    async validateCCC() {
      const data = {
        usuario: this.usuario,
        dni: this.dni
      }
      await this.$axios.post(`${process.env.baseURL}/bs/validusu.php`, data).then(res => {
        if (res.data.result === 'success') {
          this.requestConfirmation()
        } else {
          /* this.showSnackbar(res.data.message, 'error') */
          this.showSnackbar('Los datos ingresados no corresponden a un abonado de CCC, o se encuentra en mora', 'error')
        }
      }).catch(err => {
        this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
      })
    },
    async requestConfirmation() {
      const data = {
        usuario: this.usuario,
        email: this.email
      }
      await this.$axios.post(`${process.env.baseURL}/email_confirmacion.php`, data).then(res => {
        this.successAlert = true
      }).catch(err => {
        this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
      })
      this.loading = false
    },
    showSnackbar(body, color) {
      this.snackbar = true
      this.color = color
      this.message = body
    }
  }
}
</script>

<style scoped>
.login_container {
  min-width: 300px;
}
</style>