<template>
  <v-card flat class="transparent">
    <v-card-title class="d-flex justify-center">
      <v-row no-gutters>
        <v-col cols="12" class="d-flex justify-center">
          <v-icon color="success" large>
            mdi-check-circle
          </v-icon>
        </v-col>
        <v-col v-if="sent" cols="12" class="d-flex justify-center pt-2">
          <span class="text-h6 font-weight-bold white--text">
            Email enviado
          </span>
        </v-col>
      </v-row>
    </v-card-title>
    <v-card-text class="d-flex justify-center white--text">
      <!-- <span class="text-center text-subtitle-1">
        {{ body }}
      </span> -->
      <span class="text-center text-subtitle-1" v-html="body">
      </span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'EmailSent',
  props: {
    body: {
      type: String,
      default: 'Se le ha enviado un correo electrónico con instrucciones para continuar.'
    },
    sent: {
      type: Boolean,
      default: false
    }
  }
}
</script>