<template>
  <v-container class="d-flex justify-center align-center full_container">
    <v-card v-if="!$auth.loggedIn" class="form_container" flat>
      <v-card-title class="white--text pb-15 px-0">
        <v-row no-gutters>
          <v-col cols="12" class="d-flex justify-center">
            <span class="text-sm-h6 text-subtitle-1 font-weight-bold secondary-light--text">
              Ingresá a Mi CCCGO
            </span>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text class="px-0">
        <v-form ref="form" v-model="valid">
          <v-row no-gutters>
            <v-col cols="12" class="pb-2">
              <span class="white--text text-body-2 text-sm-body-1">
                Usuario de CCCGO
              </span>
            </v-col>
            <v-col cols="12">
              <v-text-field 
                v-model="username"
                label="Nombre de Usuario"
                background-color="white"
                class="rounded-lg"
                color="dark-error"
                solo
                :rules="[rules.required]"
              />
            </v-col>
            <v-col cols="12" class="pb-2">
              <span class="white--text text-body-2 text-sm-body-1">
                Contraseña
              </span>
            </v-col>
            <v-col cols="12" class="pb-0">
              <v-text-field 
                v-model="password"
                :type="showPassword ? 'text' : 'password'"
                background-color="white"
                class="rounded-lg"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                solo
                label="Contraseña"
                :rules="[rules.required]"
                color="dark-error"
                @click:append="showPassword = !showPassword"
              />
            </v-col>
            <v-col cols="12" class="d-flex justify-end pt-0">
              <v-hover v-slot:default="{ hover }">
                <nuxt-link to="/recuperacion" :class="[hover ? 'success--text' : 'secondary-light--text', 'nuxtLink text-body-2 text-sm-body-1']">
                  ¿Olvidaste tu contraseña?
                </nuxt-link>
              </v-hover>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row>
          <v-col cols="12" class="d-flex justify-center px-1">
            <v-btn class="white--text px-15 elevation-0 rounded-lg py-7 font-weight-bold text-subtitle-1" block :loading="loading" color="secondary" @click="login()">
              <span class="text-capitalize">Ingresá</span>
              <span class="text-lowercase px-1">a</span>
              <span class="text-capitalize pr-1">Mi</span>
              <span class="text-uppercase">CCCGO</span>
            </v-btn>
          </v-col>
          <v-col cols="12" class="d-flex justify-center">
            <span class="white--text text-body-2">
              ¿No sos usuario de CCCGO?
            </span>
          </v-col>
          <v-col cols="12" class="d-flex justify-center pt-0 px-1">
            <v-btn class="white--text px-15 elevation-0 rounded-lg py-7 font-weight-bold text-subtitle-1" block color="dark-primary" @click="redirigirSuscripcion()">
              <span class="text-capitalize">Suscribite</span>
              <span class="text-lowercase px-1">a</span>
              <span class="text-uppercase">CCCGO</span>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>

     <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      right
      top
      :color="color"
      elevation="24"
    >
      <span class="font-weight-bold">
        {{ message }}
      </span>
    </v-snackbar>
  </v-container>
</template>

<script>
import CryptoJS from 'crypto-js'

export default {
  name: 'Home',
  data() {
    return {
      username: '',
      password: '',
      showPassword: false,
      valid: '',
      color: '',
      snackbar: false,
      timeout: 3000,
      message: '',
      loading: false,
      rules: {
        required: value => !!value || 'Campo requerido'
      }
    }
  },
  created() {
    if (this.$auth.loggedIn) {
      this.$router.push(`/cuenta/${this.$auth.user.customer.customerId}`)
    }
  },
  methods: {
    async login() {
      if (this.valid) {
        this.loading = true
        try {
          const response = await this.$auth.loginWith('local', {
            data: {
              username: this.username,
              password: this.password
            }
          })
          this.loading = false
          if (response.data.error === "Datos incorrectos") {
            this.showSnackbar('Datos incorrectos. Por favor, intente nuevamente', 'error')
          } else {
            this.$router.push(`/cuenta/${this.username}`)
          }         
        } catch (error) {
          this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
          this.loading = false
        }
      } else {
        this.showSnackbar('Debe completar todos los campos correctamente', 'error')
      }
    },
    redirigirSuscripcion() {
      this.$router.push('/registro')
    },
    showSnackbar(body, color, timeout) {
      this.snackbar = true
      this.color = color
      this.message = body
      this.timeout = timeout
    }
  }
}
</script>

<style>
.nuxtLink {
  text-decoration: none;
}
</style>