<template>
  <div>
    <v-container v-if="!successAlert" class="d-flex justify-center align-center full_container">
      <v-card class="form_container" flat>
        <v-card-title class="white--text pb-15">
          <v-row no-gutters>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-sm-h6 text-subtitle-1 font-weight-bold secondary--text">
                Restablecimiento de contraseña
              </span>
            </v-col>
            <v-col cols="12" class="d-flex justify-center">
              <span class="text-subtitle-1 text-center white--text">
                Ingrese sus datos para continuar
              </span>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text class="px-0">
          <v-form ref="form" v-model="valid">
            <v-row no-gutters>
              <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  Usuario de CCCGO
                </span>
              </v-col>
              <v-col cols="12">
                <v-text-field 
                  v-model="usuario"
                  label="Nombre de Usuario"
                  background-color="white"
                  class="rounded-lg"
                  solo
                  :rules="[rules.required]"
                />
              </v-col>
              <!-- <v-col cols="12" class="pb-2">
                <span class="white--text text-body-2 text-sm-body-1">
                  Correo electrónico
                </span>
              </v-col>
              <v-col cols="12" class="pb-0">
                <v-text-field 
                  v-model="email"
                  type="email"
                  background-color="white"
                  class="rounded-lg"
                  :rules="[rules.required, rules.email]"
                  solo
                  label="Email"
                />
              </v-col> -->
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col cols="12" class="d-flex justify-center px-1">
              <v-btn class="text-capitalize px-15 elevation-0 font-weight-bold white--text rounded-lg py-7 text-subtitle-1" block :loading="loading" color="dark-primary" @click="sendEmail()">
                Enviar
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>

      <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        right
        top
        :color="color"
        elevation="24"
      >
        {{ message }}
      </v-snackbar>
    </v-container>

    <v-container v-else class="d-flex justify-center align-center full_container">
      <email-sent body="Te enviamos un correo electrónico con instrucciones para recuperar tu contraseña. <br /> <b>Recordá revisar en la carpeta de spam en caso de no encontrarlo.</b>" />
    </v-container>
  </div>
</template>

<script>
import EmailSent from '../../components/UI/EmailSent.vue'
export default {
  components: { EmailSent },
  name: 'Recuperacion',
  data() {
    return {
      usuario: '',
      /* email: '', */
      loading: false,
      successAlert: false,
      rules: {
        required: value => !!value || 'Campo requerido'
        /* email: v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Debe ingresar un email válido' */
      },
      snackbar: false,
      color: '',
      message: '',
      valid: ''
    }
  },
  methods: {
    async sendEmail() {
      if (this.valid) {
        this.loading = true
        const data = {
          usuario: this.usuario
        }
        await this.$axios.post(`${process.env.baseURL}/email_recuperacion.php`, data).then(res => {
          this.successAlert = true
        }).catch(err => {
          this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
        })
        this.loading = false
      } else {
        this.showSnackbar('Debe completar todos los campos correctamente', 'error')
      }
    },
    showSnackbar(body, color) {
      this.snackbar = true
      this.color = color
      this.message = body
    }
  }
}
</script>
